* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stop-watch {

  padding: 20px 0;
  background: #133;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.watch span {
  color: #eee;
  font-size: 50px;
  font-family: consolas, sans-serif;
}

.btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #0001;
  border-radius: 5px;
  margin: 0 10px;
  text-shadow: 2px 2px 1px #000;
}

.btn.btn-play:hover,
.btn.btn-stop:hover,
.btn.btn-continue:hover,
.btn.btn-reset:hover {
  transition: 1s;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 1px #fff;
}

.btn.btn-play {
  color: #2af;
  border: 2px solid #2af;
}

.btn.btn-play:hover {
  background-color: #2af;
}

.btn.btn-stop {
  color: #e13;
  border: 2px solid #e13;
}

.btn.btn-stop:hover {
  background-color: #e13;
}

.btn.btn-continue {
  color: #dd0;
  border: 2px solid #dd0;
}

.btn.btn-continue:hover {
  background-color: #aa0;
}

.btn.btn-reset {
  color: #0e4;
  border: 2px solid #0e4;
}

.btn.btn-reset:hover {
  background-color: #0e4;
}

@media (max-width: 300px) {
  .stop-watch {
    width: 100%;
  }

  .watch span {
    font-size: 30px;
  }

  .btn {
    font-size: 15px;
    width: 110px;
  }
}